/* 웹페이지안에 css안에 삽입하는방법 1. style태그사용 2. styel속성사용 */
/*  1. style태그// css를포함시시키위해사용, css와 html은 완전히 다른언어이기때문에 웹브라우저가 어디서부터 어디까지 css인지 알 수 이있게하기위해사용" */
a{                              /* a{}:선택자(selector) //스타일태그안에 이 웹페이지에서 주고싶은효과를 누구에게 줄것인지 선택한다 */
    color:black;                /* 효과(declaration)// a 태그의 폰트색을 green로 바꿈 css문법 */
                                /* color : 속성(property), red : 값(value) */
    text-decoration: none;      /* 밑줄을 만들고 없애는 속성 :밑줄이 마음에 안들거나할 때, 모든 a태그에 장식(밑줄)이 없어짐 */
    /* 효과를 지정하고 끝에 하나의 description의 시작과 끝을 구분하는 세미콜론 써줌 */
}
/* saw라는 클래스의 값을 가지고있는 모든 태그의 폰트 칼라를 그레이로  */
/* saw: 웹페이지 모든 saw라는 이름의 태그를 선택하는 선택자  */
/* .saw : 클래스값이 saw인 태그를 가리키는 선택자 */
/* #active{
  color:red;
} */
/* .saw{
  color:gray;
} */
              /* 우선순위 id 선택자 > class선택자> 클래스 선택자 : a  */
              /*side_menu 동일한 선택자에선 맨밑의 선택자가 우선순위 제일 높다 */
html{
  padding: 0;
  margin: 0;
  border:0;
}
body{
  padding: 0;
  margin: 0;
  border:0;
  /* background-color: #dedcdc; */
  /* border:1px solid gray; */
}
/* index.html */

#nav-wrap{
  position: fixed;
  width:100%;
  z-index: 100;
  background-color: #424242;
}
#nav-wrap .nav{
  margin : 0;
  padding : 8px 10px;
  text-align: center;
}
#nav-wrap .nav li{
  display: inline;
  list-style: none;
  padding : 8px 10px;
  position: relative;
  }
#nav-wrap .nav a{
  padding : 8px 28px;
  color: #D8D8D8;
  text-transform: uppercase;
}
#nav-wrap li:hover a{
  color: #F2F2F2;
}

 #banner img{
  /* object-fit: cover;
  height:100vh; */
  width:100%;
}

#about_me{
  background-color: white;
  /* margin:0 auto; */

  padding : 50px 200px 50px 200px;
}
#Resume{
  height: 800px;
  margin : 50px 200px 50px 200px;
  background-color: white;
  border-top: 1px solid #E6E6E6;
  padding-top:50px;



}
#contact{
  height: 200px;
  background-color: gray;
  padding : 50px 200px 50px 200px;
}
#about_me .row{
  display:grid;
  grid-template-columns: 300px 1fr;
}
#about_me .col1{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding : 20px;
}
#about_me .col2{
  padding : 20px;
}
#top_btn{
  display:block;
  text-align:center;
}

@media(max-width:800px){
  #about_me .row{
    display:block;
    text-align: center;
  }
@media(max-width:600px){
  #top_menu .col2{
    display:block;
    text-align: center;
  }
